<div class="jumbotron" id="use_and_users">
	<div class="container">
		<h1>Use and Users</h1>
		<p>
			Bacon ipsum dolor amet turducken chicken kevin shoulder jerky strip steak bacon pastrami rump. 
			Spare ribs prosciutto porchetta landjaeger. Leberkas brisket frankfurter, tail chicken alcatra rump. 
			Burgdoggen kevin hamburger leberkas cupim. Filet mignon ham hock bresaola pastrami kevin ball tip chicken 
			pork shankle leberkas meatloaf. Strip steak ground round pastrami pancetta beef, pork belly brisket turducken 
			alcatra tenderloin cow biltong jerky jowl boudin.
		</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</div>
<div class="jumbotron" id="collections">
	<div class="container">
		<h1>Collections</h1>
		<p>
			<br>
			<span class="section-heading">Collection Composition</span>
			<br>
			Our game collection is divided into two main categories; console and tabletop. 
			Console will consist of any game with which a video game console is needed to play, 
			such as a PlayStation, Xbox, or Nintendo Wii while the tabletop game collection 
			consists of dice, card, and board games. Console games will be available for one week 
			checkout while the tabletop games will only be available for in library use. Both types 
			of materials will be held at the main desk and can be checked out using a library card. 
			The library will retain one copy of available console titles, one copy of each board game, 
			and two copies of each dice/card based game.
			<br><br>
			<span class="section-heading">Collection Accessibility</span>
			<br>
			All dice, card and board game titles will focus on games that can be completed in 
			under an hour in order to maintain a good play experience for the patrons while giving 
			the players enough time to solidly complete multiple games. The library website will 
			have multiple links to YouTube video tutorial of the tabletop games available, as well 
			as embedded links to game trailers of console games available at the library. This works 
			to show the patrons the materials available and allows them to have a better understanding 
			of the material they are checking out. The board games for example often have a multitude 
			of rules that become intuitive after the first play through, but the accessibility of a 
			video may make it more appealing to patrons who do not want to comb over a difficult rulebook. 
			Furthermore the library will have a scanned PDF of the tabletop games’ rules available to 
			the patrons.
		</p>
	</div>
</div>
<div class="jumbotron" id="organization">
	<div class="container">
		<h1>Organization</h1>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</div>
<div class="jumbotron" id="subject_access">
	<div class="container">
		<h1>Subject Access</h1>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</div>
<div class="jumbotron" id="preservation">
	<div class="container">
		<h1>Preservation</h1>
		<p>
			To ensure that the material is well maintained the library will clean discs 
			upon their return. Given that many of the tabletop pieces are durable plastic 
			they do not need much upkeep, cards however can be placed into card sleeves to 
			extend their usability relatively cheaply. In extreme cases lamination can be 
			used to extend the life of the more fragile game components.
		</p>
	</div>
</div>
